<header>
    <h1>Redimensiona</h1>
    <nav>
        <ul>
            <li><a href="{% url 'core:home' %}">Inicio</a></li>
            {% if user.is_authenticated %}
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="{% url 'users:logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'users:register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>
</header>